<div class="jumbotron bd" style="background-color: #ECECEC; font-family: 'Open Sans', sans-serif;">
  <div class="container">
    <h1 class="display-3">Gestión de currículo</h1>
    <p>
      Aquí podrá realizar actividades como:
    </p>
    <ul>
      <li>Administración y control de Micro currículo</li>
      <li>Administración y registro plan de estudio</li>
      <li>Reportes y diseño gráfico del proceso magro-curricular</li>
      <li>Modelado de procesos Meso currículo</li>
    </ul>
    <p><a class="btn btn-primary btn-lg" href="#" role="button" style="background-color: #6C9A06;">Leer más &raquo;</a></p>
  </div>
</div>
