<div class="jumbotron bd" style="background-color: #ECECEC; font-family: 'Open Sans', sans-serif;">
  <div class="container">
    <h1 class="display-3">Gestión de currículo</h1>
    <p>
      Aquí podrá realizar actividades como:
    </p>
    <ul>
      <li>Administración y control de Micro currículo</li>
      <li>Administración y registro plan de estudio</li>
      <li>Reportes y diseño gráfico del proceso magro-curricular</li>
      <li>Modelado de procesos Meso currículo</li>
    </ul>
    <p><a (click)="selectProgram();" class="btn btn-primary btn-lg" href="#" role="button"
        style="background-color: #6C9A06;">Lista de programas &raquo;</a></p>
  </div>
</div>

<!-- <ng-template #modal_Programas let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Programas</h4>
  </div>
  <div class="modal-body">
    <app-data-programas></app-data-programas>
  </div>
</ng-template> -->
