<div class="padre">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4" class="hijo">
          <div class="">
            <div class="">
              <div class="">
                <p>
                  <img src="https://dummyimage.com/300x200/000/fff&text=Maya+curr%C3%ADcular" alt="">
                </p>
                <h4 class="text center">Gestionar Cursos</h4>
                <p>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4" class="hijo">
          <div class="">
            <div class="">
              <div class="">
                <p>
                  <img src="https://dummyimage.com/300x200/000/fff&text=Maya+curr%C3%ADcular" alt="">
                </p>
                <h4 class="text-center">Visualizar malla curricular</h4>
                <p>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
